<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/sidebar') %>
    <article>
      <h1><%= car[0].brand %> <%= car[0].model %></h1>
      <p><%= car[0].description %></p>
      <a href="/car/<%= car[0].car_id %>/update" class="update-btn">Update</a>
      <form method="POST" action="/car/<%= param.carId %>" class="delete-category form">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Delete</button>
      </form>
    </article>
  </body>
</html>