<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/sidebar') %>
    <article>
      <h1>category page</h1>
      <form method="POST" action="/category/<%= param.categoryId %>">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Delete</button>
      </form>
      <a href="/category/<%= param.categoryId %>/update">Update</a>
      <% carsInCategory.forEach(car => { %>
        <div>
          <a href="/car/<% car.car_id %>"><%= car.brand %> <%= car.model %></a>
          <h2><%= car.brand %> <%= car.model %></h2>
        </div>
      <% }) %>
    </article>
  </body>
</html>