<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/sidebar') %>
    <article>
      <form method="POST" action="/category/<%= param.categoryId %>" class="delete-category form">
        <% categories.forEach(category => { %>
          <% if (category.category_id == param.categoryId) { %>
            <h1 class="category-title"><%= category.category %></h1>
          <% } else { %>
            <% return %>
          <% } %>
        <% }) %>
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button type="submit">Delete</button>
        <a href="/category/<%= param.categoryId %>/update" class="update-btn">Update</a>
        <span>* Update does not require password</span>
        <% if (carsInCategory.length > 0) { %>
        <% } %>
      </form>

      <div class="smaller-container">
        <% carsInCategory.forEach(car => { %>
          <a href="/car/<%= car.car_id %>" class="car-btn">
            <%= car.brand %> <%= car.model %>
          </a>
        <% }) %>
      </div>

      
    </article>
  </body>
</html>