<!DOCTYPE html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/sidebar') %>
    <form method="POST" action="/car/new" class="add-car form">
        <h1>Add a Car</h1>
        <%- include("../partials/validationError.ejs") %>
        <label for="brand">Brand:</label>
        <input type="text" name="brand" required>
        <label for="model">Model:</label>
        <input type="text" name="model" required>
        <label for="category">Category</label>
        <select name="category" id="category">
            <% categories.forEach(category => { %>
             <option value="<%= category.category %>"><%= category.category %></option>
            <% }) %>
        </select>
        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>
        <button type="submit">Add</button>
    </form>
</body>
</html>