<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/sidebar') %>
    <div class="cars-container">
      <h1>All Cars</h1>
      <% cars.forEach(car => { %>
        <article class="car-div">
          <a href="/car/<%= car.car_id %>">
            <h2><%= car.brand %> <%= car.model %></h2>
          </a>
        </article>
      <% }) %>
    </div>
  </body>
</html>