<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/sidebar') %>
    <div class="cars-container">
      <h1 class="all-cars-text">All Cars</h1>
      <div class="smaller-container">
        <% cars.forEach(car => { %>
          <a href="/car/<%= car.car_id %>" class="car-btn">
            <%= car.brand %> <%= car.model %>
          </a>
        <% }) %>
      </div>
    </div>
  </body>
</html>