<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/sidebar') %>
    <div>
      <h1>hello</h1>
      <% cars.forEach(car => { %>
        <a href="/car/<%= car.car_id %>">
          <h1><%= car.brand %> <%= car.model %></h1>
        </a>
      <% }) %>
    </div>
  </body>
</html>